.mat-column-id {
  width: 20%;
}
.mat-column-nombre {
  width: 20%;
}
.mat-column-apellido {
  width: 20%;
}
.mat-column-dni {
  width: 20%;
}
.mat-column-enfermedad {
  width: 20%;
}
.mat-card {
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #1cb5e0,
    #000046
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #1cb5e0,
    #000046
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.mat-card .mat-card-title-group {
  color: #fff;
}
.mat-card .mat-card-title-group .mat-card-subtitle div {
  color: #fff;
}
