<table mat-table class="table-hover" [dataSource]="dataSourceFamilia" style="width: 100%">
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombres</th>
    <td mat-cell *matCellDef="let u">
      {{ u.nombre }}
    </td>
  </ng-container>
  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef>Apellidos</th>
    <td mat-cell *matCellDef="let u">
      {{ u.apellido }}
    </td>
  </ng-container>
  <ng-container matColumnDef="dni">
    <th mat-header-cell *matHeaderCellDef>DNI</th>
    <td mat-cell *matCellDef="let u">
      {{ u.dni }}
    </td>
  </ng-container>
  <ng-container matColumnDef="rol">
    <th mat-header-cell *matHeaderCellDef>Rol</th>
    <td mat-cell *matCellDef="let u">
      {{ u.rol }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsFamilia"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsFamilia"></tr>
</table>
