.container-img {
  background-image: url("https://azsstatic.com/1631/conversions/diferencias-medico-doctor-default.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
