.mat-column-id {
  width: 10%;
}
.mat-column-dni {
  width: 20%;
}
.mat-column-area {
  width: 20%;
}
.mat-column-doctor {
  width: 20%;
}
.mat-column-fecha {
  width: 15%;
}
.mat-column-hora {
  width: 15%;
}
