<div class="p-4">
  <button mat-stroked-button color="primary" routerLink="/visita">
    Volver
  </button>
  <div class="col-12 mt-4 text-center" style="color: #55acee">
    <h1>Agendar visita</h1>
  </div>
  <form
    class="col-6 offset-3"
    [formGroup]="visitaForm"
    (ngSubmit)="agregar()"
    autocomplete="off"
  >
    <div class="mb-3">
      <input
        type="text"
        formControlName="dni"
        class="form-control form-control-lg"
        placeholder="DNI"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <span
        class="text-danger ms-2"
        *ngIf="
          visitaForm.get('dni')?.hasError('required') &&
          visitaForm.get('dni')?.touched
        "
      >
        El dni <strong>es requerido</strong>
      </span>
    </div>
    <div class="mb-3">
      <select
        type="text"
        formControlName="enfermedad"
        class="form-control form-control-lg"
      >
        <option value="">Selecciona el tipo de enfermedad</option>
        <option *ngFor="let u of listEnfermedad" [value]="u.nombre">
          {{ u.nombre }}
        </option>
      </select>
      <span
        class="text-danger ms-2"
        *ngIf="
          visitaForm.get('enfermedad')?.hasError('required') &&
          visitaForm.get('enfermedad')?.touched
        "
      >
        La enfermedad <strong>es requerido</strong>
      </span>
    </div>
    <div class="mb-3 row m-0">
      <input
        type="text"
        formControlName="fecha"
        class="form-control form-control-lg"
        style="width: 90% !important"
        mat-input
        [matDatepicker]="datepicker"
      />
      <mat-datepicker-toggle
        style="width: 10% !important"
        matSuffix
        [for]="datepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datepicker> </mat-datepicker>
      <span
        class="text-danger ms-2"
        *ngIf="
          visitaForm.get('fecha')?.hasError('required') &&
          visitaForm.get('fecha')?.touched
        "
      >
        La fecha <strong>es requerida</strong>
      </span>
    </div>
    <button
      type="submit"
      [disabled]="visitaForm.invalid"
      class="btn btn-primary btn-lg w-100"
      style="background-color: #114789 !important"
    >
      Agregar
    </button>
  </form>
</div>
