<div class="p-4">
  <div class="h1 text-center" style="color: #55acee">
    Información del Asegurado
  </div>
  <div class="h3 text-center">
    <span class="form-text">Nombres:</span>
    {{ data.asegurado.nombre }}
  </div>
  <div class="h3 text-center">
    <span class="form-text">Apellidos:</span>
    {{ data.asegurado.apellido }}
  </div>
  <div class="h3 text-center">
    <span class="form-text">DNI:</span>
    {{ data.asegurado.dni }}
  </div>
  <div class="h3 text-center">
    <span class="form-text">Dirección:</span>
    {{ data.asegurado.direccion }}
  </div>
  <div class="h3 text-center">
    <span class="form-text">Rol:</span>
    {{ data.asegurado.rol }}
  </div>
</div>
