td button {
  background-color: white !important;
}

.mat-column-id {
  width: 9%;
}
.mat-column-nombre {
  width: 19%;
}
.mat-column-apellido {
  width: 19%;
}
.mat-column-dni {
  width: 17%;
}
.mat-column-familiares {
  width: 17%;
}
.mat-column-accion {
  width: 19%;
}
.mat-header-cell {
  text-align: center;
}
.mat-cell {
  text-align: center;
}
